[run]
source = src
omit = src/tests/**,src/index.py,src/player.py,src/player_reader.py,src/player_reader_stub.py,src/__init__.py
[report]
omit = src/tests/**,src/index.py,src/player.py,src/player_reader.py,src/player_reader_stub.py,src/__init__.py
